<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>显示所有新闻</title>
</head>
<body>
新闻列表<a th:href="@{/toAddNews}">添加新闻</a><br>
<table border="1">
    <tr>
        <td>标题</td>
        <td>操作</td>
    </tr>
    <tr th:each="article:${articles}">
        <td ><a th:text="${article.title}" th:href="@{/articleShow(id=${article.id})}"></a></td>
        <td th:href="@{/toArticleDel(id=${article.id})}"><a th:href="@{/toArticleDel(id=${article.id})}">删除</a>
        <td th:href="@{/toArticleUpdate(id=${article.id})}"><a th:href="@{/toArticleUpdate(id=${article.id})}">修改</a></td>
    </tr>
</table>
</body>
</html>